SecurePaymentCardServer/HELP.md
SecurePaymentCardServer/target/
SecurePaymentCardServer/.mvn/wrapper/maven-wrapper.jar
!SecurePaymentCardServer/**/src/main/**/target/
!SecurePaymentCardServer/**/src/test/**/target/

SecurePaymentCardClient/bin

SecurePaymentCard/bin
SecurePaymentCard/deliverables
SecurePaymentCard/configurations

securePaymentCardGraphicalInterface/node_modules
# securePaymentCardGraphicalInterface/dist
securePaymentCardGraphicalInterface/out
securePaymentCardGraphicalInterface/.DS_Store
securePaymentCardGraphicalInterface/.eslintcache
securePaymentCardGraphicalInterface/*.log*

### .env ###
SecurePaymentCardClient/.env
SecurePaymentCardServer/.env
SecurePaymentCardServer/*.pkrvars.hcl

### Eclipse ###
.metadata
SecurePaymentCardClient/.project
SecurePaymentCardClient/.classpath
SecurePaymentCardClient/.settings

SecurePaymentCard/.gen
SecurePaymentCard/.javacard_project
SecurePaymentCard/.project
SecurePaymentCard/.classpath
SecurePaymentCard/.settings
SecurePaymentCard/.factorypath

### IntelliJ IDEA ###
.idea
SecurePaymentCardServer/*.iws
SecurePaymentCardServer/*.iml
SecurePaymentCardServer/*.ipr

### VS Code ###
.vscode/

